@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Cardo&family=Outfit:wght@300;400;600&family=Roboto:wght@400;500;700;900&family=Sedgwick+Ave&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Sedgwick Ave', cursive;
    
}

body{
    width: 100%;
    height: auto;
    margin: auto;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    max-width: 1100px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 40px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 20;
}
header.rolagem{
    background-color: #001F3F;
    padding: 20px 4%;
    z-index: 20;
}
header.rolagem a{
    color: #fff;
}
header.rolagem a:hover{
    color: #fe775a;
}
header.rolagem img{
    width: 30px;
}

header.rolagem button{
    background-color: #fe775a;
}

header img{
    width: 50px;
    color: #fff;
    z-index: 20;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline-block;
    margin: 0 40px;
}
header ul li a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}
header ul li a:hover{
    color: #ff532c;
    font-size: 23px;
}
.btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #001F3F;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    border-radius: 5px;
}

.btn-contato button:hover{
    width: 140px;
    height: 50px;
    font-size: 16px;
    background-color: #fe775a;
}

#parallax{
    width: 100%;
    height: 700px;
    background-image: url(img/backgroundAces.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 35px 35px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax h1{
    color: #fff;
    font-size: 100px;
    margin-top: 400px; 
}

#conteudo{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 93%;
    height: auto;
    margin: auto;
}

#conteudo p{
    font-family: sans-serif;

    }


aside{
    position: relative;
    display: flex;
    flex-direction: column;
    
}

 /* ----- Somente 1 local----- */
.locais{
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.locais a{
    text-decoration: none;
}
.img-local1{
    position: relative;
    background-image: url(img/Pinacoteca-de-Sao-Paulo.-Fonte-Balada-IN.jpg);
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
}


.img-local2{
    position: relative;
    background-image: url(img/centroCultural.JPG);
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
}

.img-local3{
    position: relative;
    background-image: url(img/MuseuFute.jpg);
    background-position: center;
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
}

.img-local4{
    position: relative;
    background-image: url(img/cinesesc-1.png);
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
    
}

.img-local5{
    position: relative;
    background-image: url(img/museuCatavento.jpg);
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
}

.img-local6{
    position: relative;
    background-image: url(img/mam-museu-de-arte-moderna.jpg);
    background-size: cover;
    width: 413px;
    height: 220px;
    border-radius: 24px;
    margin: 10px;
}




.locais2{
    position: relative;
    width: 600px;
    height: 230px;
    margin-left: 30px;
    margin-top: 20px;
}

.locais h1{
    color: #000;
    font-size: 25px;
 
}

.locais2 p{
    font-size: 22px;
}


.icones{
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 70px;
   
}

.locais4{
    margin-left: 70px;

}

.icones img{
    width: 130px;
   
}

#footer{
    position: relative;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #001F3F;
    color: #fe775a;
    padding-top: 80px;
    margin-top: 50px;
}
footer h4{
    font-family: 'Sedgwick Ave', cursive;
}

footer a {
    color: #fff;
    text-decoration:none;
    letter-spacing: 1px;
    
  }

  
  footer a:hover, footer a:focus {
    color: #fe775a;
    text-decoration:none;
  }
  
  footer .form-control {
      background-color: #787a7d;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
      margin-bottom: 20px;
  }
  footer .btn{
    color: #fff;
  }
  footer .btn:hover{
    color: #fe775a;
  }